
body{
	max-width:1200px;
	margin:0 auto 0 auto;
	font:1em "Open Sans", sans-serif;
	background: no-repeat center/120% url("../img/fond.jpg");
	background-attachment: fixed;
}



#menu{
	position:sticky;
	top:0;
	z-index:3;
}

#menu ul {
 margin:0;
 padding:0;
 list-style-type:none;
 text-align:center;
 }
 
#menu li {
 float:left;
 margin:auto;
 padding: 0 1% 0 1%;
 background-color:black;
 width:23%;
 height:50px;
 }
 
#menu li a {
  
 color:white;
 text-decoration:none;
 }
 
 #menu ul li ul {
 display:none;
 }
 
#menu li a:hover {
 color:#FFD700;
 
 }
#menu ul li:hover ul {
display:flex;
flex-direction:column;

 }
 
#menu li:hover ul li {
  float:none;
  padding:5px;
  margin:0;
  width:100%; 
 }
 
.button{
padding:15px 0 15px 0;
 display:block;

}
#menu li img {
	height:100%;
	padding:0;
	margin:0;
}

#menu img{width:100%}
	
.content{
	background-color:white;
	border-radius:15px 15px;
	box-shadow: 0 0 10px 5px rgb(20, 20, 20);
	padding-bottom:20px;
}

.stand {
	width:100%;
	display:flex;
	flex-wrap:wrap;
	justify-content: center;
	flex-direction:row;
	padding-top:30px;
}

.produit{
	transition: .15s ease;
	width:250px;
	height:350px;
	padding:20px 20px 60px 20px;
	z-index:1;
}

.produit a{
	text-decoration:none;
	font-weight: bold;
	background-color:rgb(240,240,240);
	padding-bottom:70px;
}

.produit img{
	width:100%;
}

p{
	margin:5px;
	text-align:center;
	color:black;
	
}

.prix{

	font-weight: normal;
	font-size: 1.3em;

}

.produit:hover{
	width:280px;
	height:380px;
	padding:5px 5px 25px 5px;
	z-index:2;
	transition: .1s ease;
}

